<h1 mat-dialog-title>Update University Detials</h1>
    <mat-divider></mat-divider>
    <mat-dialog-content>
    <div fxLayout='row' fxLayoutAlign='center center'>
        <div fxLayout='column' fxFlex="50" fxLayoutAlign='center center' >
        <mat-form-field appearance="outline">
            <mat-label>Enter University Name</mat-label>
            <input [(ngModel)]="data.uniname" matInput type="text" >
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Enter Registration Date</mat-label>
            <input [(ngModel)]="data.registrationDate" matInput [matDatepicker]="dp2"  disabled>
            <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
            <mat-datepicker #dp2 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Expiry Date</mat-label>
            <input [(ngModel)]="data.expiryDate" matInput [matDatepicker]="dp3"  disabled>
            <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
            <mat-datepicker #dp3 disabled="false"></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Image Url</mat-label>
            <input [(ngModel)]="data.imgUrl" matInput type="text" >
        </mat-form-field>
        </div>

        <div fxLayout='column' fxFlex fxFlexOffset="10" fxLayoutAlign='center center'>
        <mat-form-field appearance="outline">
            <mat-label>Enter Number of Students</mat-label>
            <input [(ngModel)]="data.NoOfStudents" matInput type="text">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Email</mat-label>
            <input [(ngModel)]="data.email" matInput type="text" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Web-Url</mat-label>
            <input [(ngModel)]="data.webUrl" matInput type="text" >
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Enter Contact number</mat-label>
            <input [(ngModel)]="data.contactNo" matInput type="text" >
        </mat-form-field>
        </div>
    </div>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-dialog-close="true" mat-raised-button color='primary' (click)='updateDetails()'>Submit</button>
        <button mat-dialog-close mat-raised-button color='primary'>Close</button>
</mat-dialog-actions>