.div{
    background-color: #041a2956;
    height: 100vh;
}

.div2{
    background-color: #69889B;
    height: 40%;
    width: 40%;
    border-top-right-radius: 3%;
    border-bottom-left-radius: 3%;
    border-top-width:1.5px;
    border-top-style: solid;
    border-top-color: honeydew;
    border-bottom-width:1.5px;
    border-bottom-style: solid;
    border-bottom-color: honeydew;
    box-shadow: 10px 10px 55px 5px rgba(2, 13, 32, 0.68);
}